* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color-scheme: dark;
}

:root{
  --primary : #F9AA11;
  --text-color: rgba(0, 0, 0, 0.88);
  --primary-low: rgba(249, 170, 17, 0.2); 
  --avatar-shadow: 0px 4px 12.5px -2px rgba(0, 0, 0, 0.25);
}

.cl-logoImage{
  width: 9rem;
  height: 3rem;
}
.cl-card{
  box-shadow: none;
}