.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.postsArea{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 88vh;
    overflow-y: auto;
    max-width: 50rem;
    margin: auto;
}

.rightSide{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
}

@media (max-width: 800px) {
    .rightSide{
        display: none;
    }
}