.wrapper {
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  background: var(--primary-low);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  background-image: url("/images/hashtag.png");
  top: 0;
  right: 0;
  width: 10rem;
  height: 15rem;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.5;
}
