.wrapper {
  border-radius: 1rem;
  overflow: hidden;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.media {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 1rem;
}

.comment {
  background: #f4f6f8;
  border-radius: 1rem;
  padding: 1rem;
  &.dark {
    background: #0000003b;
  }
}

