.postGenWrapper {
  border-radius: 1rem;
}
.container {
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

@media (max-width: 750px) {
  .container{
    padding-bottom: 4rem;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    display: none;
  }
}
