.container {
  box-shadow: var(--xl-shadow);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .details {
      display: flex;
      flex-direction: column;
    }
  }

  .right {
    .button {
      border: 1px solid rgba(145, 158, 171, 0.32);
    }
  }
}
